<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
<dict>
  <key>host</key>
  <string>https://mydemoenv.rhmap.com</string>
  <key>appid</key>
  <string>your_app_id</string>
  <key>projectid</key>
  <string>your_project_id</string>
  <key>appkey</key>
  <string>your_app_key</string>
  <key>connectiontag</key>
  <string>X.Y.Z</string>
</dict>
</plist>
